.pokecard {
  align-items: center;
  background-color: var(--color-secondary);
  border-radius: 7px;
  box-shadow: 0 0 15px 10px var(--color-alternate);
  display: grid;
  grid-template-columns: 3fr 1fr;
  margin-bottom: 2rem;
  margin: 1rem auto;
  max-width: 400px;
  min-width: 250px;
  overflow: hidden;
  padding: 0.5rem;
  width: 90vw;
}

.pokecard__title {
  color: var(--color-alternate);
  padding: 0.5rem 1rem;
}

.pokecard__pokeball {
  width: 40px;
  height: 40px;
  justify-self: center;
}

.pokecard__pokeball > img {
  width: 100%;
}

.pokecard__image-container {
  grid-column: 1 / 3;
  margin: auto;
}

.pokecard__image-container > img {
  width: 100%;
  height: 192px;
  max-width: 192px;
}
